1.Database Creation;

In [1]:
CREATE DATABASE EmployeDB;

2.BACKUP DATABASE;

In [11]:
BACKUP DATABASE EmployeDB
TO DISK ='D:\sql\DATABASE';

In [47]:
USE  EmployeDB;

3.TABLE CREATION;

In [48]:
CREATE TABLE EMPLOYE_DETAILS
(
    EID NUMERIC(4) PRIMARY KEY,
    ENAME VARCHAR(15) NOT NULL,
    JOB VARCHAR(15) NOT NULL,
    PHONE_NO NUMERIC(10) UNIQUE,
    AGE NUMERIC(2) NOT NULL CHECK(AGE>0),
    SAL NUMERIC(5) CHECK(SAL>0),
    MGR NUMERIC(4)
);

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'EMPLOYE_DETAILS' in the database.

4.DROP COLUMN;

In [49]:
ALTER TABLE EMPLOYE_DETAILS
DROP COLUMN MGR ;

INSERT THE VALUES;

In [50]:
INSERT INTO  EMPLOYE_DETAILS VALUES(1721,'ARUN','WEB DEVELOPER',9876543210,25,35000);
INSERT INTO  EMPLOYE_DETAILS VALUES (1212,'VICKY','DATA ANALYST',9786534201,27,40000);
INSERT INTO  EMPLOYE_DETAILS VALUES(1762,'AJAY','DATA SCIENTIET',8789321456,30,45000);
INSERT INTO  EMPLOYE_DETAILS VALUES(1832,'SURYA','CLERK',6372456764,28,20000);
INSERT INTO  EMPLOYE_DETAILS VALUES(1245,'VIJAY','WEB DEVELOPER',7367894567,27,25000);
INSERT INTO  EMPLOYE_DETAILS VALUES(2121,'SANTHOSH','WEB DEVELOPER',9823543210,29,25000);
INSERT INTO  EMPLOYE_DETAILS  VALUES (2212,'JEEVA','DATA ANALYST',9781534201,25,30000);
INSERT INTO  EMPLOYE_DETAILS VALUES(3762,'TAMIL','DATA SCIENTIET',8780321456,34,25000);
INSERT INTO  EMPLOYE_DETAILS VALUES(3832,'SANJAY','CLERK',6372556764,22,12000);
INSERT INTO  EMPLOYE_DETAILS VALUES(3245,'MUTHU','WEB DEVELOPER',7361894567,36,25000);
INSERT INTO  EMPLOYE_DETAILS  VALUES (4212,'PREM KUMAR','DATA ANALYST',9086534201,27,40000);
INSERT INTO  EMPLOYE_DETAILS VALUES(4762,'CHANDRAN','DATA SCIENTIET',8789321406,30,45000);
INSERT INTO  EMPLOYE_DETAILS VALUES(4832,'SHANKAR','CLERK',6372456064,28,20000);
INSERT INTO  EMPLOYE_DETAILS VALUES( 5245,'DEEPAK','WEB DEVELOPER',7367894167,28,25000);

: Msg 213, Level 16, State 1, Line 1
Column name or number of supplied values does not match table definition.

In [23]:
SELECT *
FROM  EMPLOYE_DETAILS;

EID,ENAME,JOB,PHONE_NO,AGE,SAL
1212,VICKY,DATA ANALYST,9786534201,27,40000
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000
1721,ARUN,WEB DEVELOPER,9876543210,25,35000
1762,AJAY,DATA SCIENTIET,8789321456,30,45000
1832,SURYA,CLERK,6372456764,28,20000
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000
2212,JEEVA,DATA ANALYST,9781534201,25,30000
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000
3762,TAMIL,DATA SCIENTIET,8780321456,34,25000
3832,SANJAY,CLERK,6372556764,22,12000
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000
4832,SHANKAR,CLERK,6372456064,28,20000
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000

ADD COLUMN;

In [28]:
ALTER TABLE  EMPLOYE_DETAILS
ADD  HIREDATE DATE;

UPDATE THE VALUES;

In [30]:
UPDATE  EMPLOYE_DETAILS
SET HIREDATE='2019-08-20'
WHERE ENAME='SURYA';

In [1]:
UPDATE  EMPLOYE_DETAILS
SET HIREDATE='2020-04-01'
WHERE ENAME='VICKY';

In [2]:
UPDATE  EMPLOYE_DETAILS
SET HIREDATE='2018-01-27'
WHERE ENAME='VIJAY';

In [3]:
UPDATE  EMPLOYE_DETAILS
SET HIREDATE='2021-03-30'
WHERE ENAME='ARUN';

In [4]:
UPDATE  EMPLOYE_DETAILS
SET HIREDATE='2019-08-20'
WHERE ENAME='AJAY';

In [5]:
UPDATE  EMPLOYE_DETAILS
SET HIREDATE='2022-02-14'
WHERE ENAME='SANTHOSH';

In [6]:
UPDATE  EMPLOYE_DETAILS
SET HIREDATE='2015-08-24'
WHERE ENAME='JEEVA';

In [7]:
UPDATE  EMPLOYE_DETAILS
SET HIREDATE='2016-06-20'
WHERE ENAME='MUTHU';

In [8]:
UPDATE  EMPLOYE_DETAILS
SET HIREDATE='2015-08-24'
WHERE ENAME='TAMIL';

In [9]:
UPDATE  EMPLOYE_DETAILS
SET HIREDATE='2019-06-11'
WHERE ENAME='SANJAY';

In [10]:
UPDATE  EMPLOYE_DETAILS
SET HIREDATE='2023-04-20'
WHERE ENAME='PREM KUMAR';

In [11]:
UPDATE  EMPLOYE_DETAILS
SET HIREDATE='2017-11-27'
WHERE ENAME='CHANDRAN';

In [12]:
UPDATE  EMPLOYE_DETAILS
SET HIREDATE='2013-10-15'
WHERE ENAME='SHANKAR';

In [13]:
UPDATE  EMPLOYE_DETAILS
SET HIREDATE='2014-11-08'
WHERE ENAME='DEEPAK';

In [14]:
SELECT *
FROM EMPLOYE_DETAILS;

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE
1212,VICKY,DATA ANALYST,9786534201,27,40000,2020-04-01
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20
1832,SURYA,CLERK,6372456764,28,20000,2019-08-20
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000,2016-06-20
3762,TAMIL,DATA SCIENTIET,8780321456,34,25000,2015-08-24
3832,SANJAY,CLERK,6372556764,22,12000,2019-06-11
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27
4832,SHANKAR,CLERK,6372456064,28,20000,2013-10-15
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000,2014-11-08

CREATE VIEWS

NOTE;IF ANY CHANGES DONE IN VIEW IT AFFECT ORGINAL TABLE ALSO

In [15]:
CREATE VIEW DATA_ANALYST AS
SELECT *
FROM EMPLOYE_DETAILS
WHERE JOB='DATA ANALYST';

In [17]:
SELECT *
FROM DATA_ANALYST;

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE
1212,VICKY,DATA ANALYST,9786534201,27,40000,2020-04-01
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20

In [17]:
UPDATE DATA_ANALYST
SET SAL=45000
WHERE ENAME='VICKY';

In [19]:
SELECT *
FROM DATA_ANALYST;

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE
1212,VICKY,DATA ANALYST,9786534201,27,45000,2020-04-01
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20

In [20]:
SELECT *
FROM EMPLOYE_DETAILS;

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE,MID
1212,VICKY,DATA ANALYST,9786534201,27,45000,2020-04-01,1122
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27,1123
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30,1123
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20,1124
1832,SURYA,CLERK,6372456764,28,20000,2019-08-20,NULL
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14,1123
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24,1122
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000,2016-06-20,1123
3762,TAMIL,DATA SCIENTIET,8780321456,34,25000,2015-08-24,1124
3832,SANJAY,CLERK,6372556764,22,12000,2019-06-11,NULL
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20,1122
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27,1124
4832,SHANKAR,CLERK,6372456064,28,20000,2013-10-15,NULL
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000,2014-11-08,1123

MODIFY DATA TYPE;

In [5]:
ALTER TABLE EMPLOYE_DETAILS
ALTER COLUMN ENAME VARCHAR(20);

SELECT DISTINCT;

In [1]:
SELECT DISTINCT SAL, 
FROM EMPLOYE_DETAILS;

SAL
12000
20000
25000
30000
35000
40000
45000

WHERE=\>USED TO FILTER THE RECORDS;

TO GET EMPLOYE NAMES WHO EARNING MORE THAN 25000;

In [2]:
SELECT ENAME 
FROM EMPLOYE_DETAILS
WHERE SAL>25000;

ENAME
VICKY
ARUN
AJAY
JEEVA
PREM KUMAR
CHANDRAN

In [ ]:
TO GET EMPLOYE DETAILS WHO HIRED AFTER 2016;

In [3]:
SELECT *
FROM EMPLOYE_DETAILS
WHERE HIREDATE>'2016-12-31';

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE
1212,VICKY,DATA ANALYST,9786534201,27,40000,2020-04-01
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20
1832,SURYA,CLERK,6372456764,28,20000,2019-08-20
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14
3832,SANJAY,CLERK,6372556764,22,12000,2019-06-11
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27

AND;

In [1]:
SELECT *
FROM EMPLOYE_DETAILS
WHERE JOB='WEB DEVELOPER' AND SAL=35000;

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30

OR;

In [3]:
SELECT *
FROM EMPLOYE_DETAILS
WHERE AGE=27 OR JOB='CLERK';

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE
1212,VICKY,DATA ANALYST,9786534201,27,40000,2020-04-01
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27
1832,SURYA,CLERK,6372456764,28,20000,2019-08-20
3832,SANJAY,CLERK,6372556764,22,12000,2019-06-11
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20
4832,SHANKAR,CLERK,6372456064,28,20000,2013-10-15

NOT;

In [4]:
SELECT *
FROM EMPLOYE_DETAILS
WHERE NOT JOB='DATA ANALYST';

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20
1832,SURYA,CLERK,6372456764,28,20000,2019-08-20
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000,2016-06-20
3762,TAMIL,DATA SCIENTIET,8780321456,34,25000,2015-08-24
3832,SANJAY,CLERK,6372556764,22,12000,2019-06-11
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27
4832,SHANKAR,CLERK,6372456064,28,20000,2013-10-15
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000,2014-11-08

ORDER BY;

ASCENDING ORDER;

NOTE;WE CAN USE ORDER BY CLAUSE WITHOUT ASC WORD,BY DEFAULT IT WILL ARRANGE IN ASCENDING ORDER.

In [10]:
SELECT *
FROM EMPLOYE_DETAILS
ORDER BY ENAME ;

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000,2014-11-08
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000,2016-06-20
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20
3832,SANJAY,CLERK,6372556764,22,12000,2019-06-11
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14
4832,SHANKAR,CLERK,6372456064,28,20000,2013-10-15
1832,SURYA,CLERK,6372456764,28,20000,2019-08-20
3762,TAMIL,DATA SCIENTIET,8780321456,34,25000,2015-08-24
1212,VICKY,DATA ANALYST,9786534201,27,40000,2020-04-01
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27

DESCENDING ORDER;

In [6]:
SELECT *
FROM EMPLOYE_DETAILS
ORDER BY HIREDATE DESC;

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30
1212,VICKY,DATA ANALYST,9786534201,27,40000,2020-04-01
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20
1832,SURYA,CLERK,6372456764,28,20000,2019-08-20
3832,SANJAY,CLERK,6372556764,22,12000,2019-06-11
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000,2016-06-20
3762,TAMIL,DATA SCIENTIET,8780321456,34,25000,2015-08-24
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000,2014-11-08
4832,SHANKAR,CLERK,6372456064,28,20000,2013-10-15

MIN;

In [5]:
SELECT MIN(SAL)
FROM EMPLOYE_DETAILS;

(No column name)
12000

MAX;

In [7]:
SELECT MAX(SAL)
FROM EMPLOYE_DETAILS;

(No column name)
45000

10/07/2023

COUNT();

In [1]:
SELECT COUNT(EID)
FROM EMPLOYE_DETAILS;

(No column name)
14

SUM();

In [2]:
SELECT SUM(SAL)
FROM EMPLOYE_DETAILS;

(No column name)
412000

AVG();

In [3]:
SELECT AVG(SAL)
FROM EMPLOYE_DETAILS;

(No column name)
29428.571428

IN;

In [7]:
SELECT *
FROM EMPLOYE_DETAILS
WHERE JOB IN ('CLERK','WEB DEVELOPER');

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30
1832,SURYA,CLERK,6372456764,28,20000,2019-08-20
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000,2016-06-20
3832,SANJAY,CLERK,6372556764,22,12000,2019-06-11
4832,SHANKAR,CLERK,6372456064,28,20000,2013-10-15
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000,2014-11-08

In [8]:
SELECT *
FROM MGR;

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'MGR'.

NOT IN;

In [8]:
SELECT *
FROM EMPLOYE_DETAILS
WHERE JOB NOT IN ('CLERK');

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE
1212,VICKY,DATA ANALYST,9786534201,27,40000,2020-04-01
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000,2016-06-20
3762,TAMIL,DATA SCIENTIET,8780321456,34,25000,2015-08-24
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000,2014-11-08

ALIAS NAME;TEMPORARY NAME GIVEN TO COLUMN;

In [9]:
SELECT ENAME, SAL*12 AS ANNUAL_SALARY
FROM EMPLOYE_DETAILS;

ENAME,ANNUAL_SALARY
VICKY,480000
VIJAY,300000
ARUN,420000
AJAY,540000
SURYA,240000
SANTHOSH,300000
JEEVA,360000
MUTHU,300000
TAMIL,300000
SANJAY,144000
PREM KUMAR,480000
CHANDRAN,540000
SHANKAR,240000
DEEPAK,300000

GROUP BY;

In [14]:
SELECT COUNT(*),JOB
FROM EMPLOYE_DETAILS
GROUP BY JOB;

(No column name),JOB
3,CLERK
3,DATA ANALYST
3,DATA SCIENTIET
5,WEB DEVELOPER

HAVING;

In [16]:
SELECT COUNT(*),JOB 
FROM EMPLOYE_DETAILS
GROUP BY JOB
HAVING COUNT(*) <4;

(No column name),JOB
3,CLERK
3,DATA ANALYST
3,DATA SCIENTIET

LIKE=\>PATTERN MATCH;

In [8]:
SELECT ENAME 
FROM EMPLOYE_DETAILS
WHERE ENAME LIKE 'A%';

ENAME
ARUN
AJAY

In [9]:
SELECT ENAME
FROM EMPLOYE_DETAILS
WHERE ENAME LIKE 'C%A_';

ENAME
CHANDRAN

SELECT TOP;

In [12]:
SELECT TOP 2 *
FROM EMPLOYE_DETAILS;

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE
1212,VICKY,DATA ANALYST,9786534201,27,40000,2020-04-01
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27

In [2]:
ALTER TABLE EMPLOYE_DETAILS
ADD MID NUMERIC(4);

In [4]:
UPDATE EMPLOYE_DETAILS
SET MID=1122
WHERE JOB='DATA ANALYST';

In [5]:
UPDATE EMPLOYE_DETAILS
SET MID=1123
WHERE JOB='WEB DEVELOPER';

In [6]:
UPDATE EMPLOYE_DETAILS
SET MID=1124
WHERE JOB='DATA SCIENTIET';

In [7]:
SELECT *
FROM EMPLOYE_DETAILS;

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE,MID
1212,VICKY,DATA ANALYST,9786534201,27,40000,2020-04-01,1122
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27,1123
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30,1123
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20,1124
1832,SURYA,CLERK,6372456764,28,20000,2019-08-20,NULL
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14,1123
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24,1122
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000,2016-06-20,1123
3762,TAMIL,DATA SCIENTIET,8780321456,34,25000,2015-08-24,1124
3832,SANJAY,CLERK,6372556764,22,12000,2019-06-11,NULL
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20,1122
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27,1124
4832,SHANKAR,CLERK,6372456064,28,20000,2013-10-15,NULL
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000,2014-11-08,1123

11/07/2023;

TABLE CREATION;

In [16]:
USE EmployeDB;

In [18]:
CREATE TABLE MANAGER
(
    MID NUMERIC(4) PRIMARY KEY, 
    MNAME VARCHAR(15) NOT NULL,
    LOCATION VARCHAR(20),
    SAL NUMERIC(5) NOT NULL,
);

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'MANAGER' in the database.

In [6]:
INSERT INTO MANAGER VALUES(1122,'KUMAR','CHENNAI',50000);
INSERT INTO MANAGER VALUES(1123,'BARATH','BANGALORE',60000);
INSERT INTO MANAGER VALUES(1124,'ARIVU','MUMBAI',75000);

: Msg 2627, Level 14, State 1, Line 1
Violation of PRIMARY KEY constraint 'PK__MANAGER__C797348AB5DEEC76'. Cannot insert duplicate key in object 'dbo.MANAGER'. The duplicate key value is (1122).

: Msg 2627, Level 14, State 1, Line 2
Violation of PRIMARY KEY constraint 'PK__MANAGER__C797348AB5DEEC76'. Cannot insert duplicate key in object 'dbo.MANAGER'. The duplicate key value is (1123).

: Msg 2627, Level 14, State 1, Line 3
Violation of PRIMARY KEY constraint 'PK__MANAGER__C797348AB5DEEC76'. Cannot insert duplicate key in object 'dbo.MANAGER'. The duplicate key value is (1124).

In [22]:
ALTER TABLE EMPLOYE_DETAILS
ALTER COLUMN MID NUMERIC(4);

ADD FORIEGN KEY;

In [23]:
ALTER TABLE EMPLOYE_DETAILS
ADD FOREIGN KEY (MID) REFERENCES MANAGER(MID);

JOINS;

CROSS JOIN;

In [10]:
SELECT *
FROM EMPLOYE_DETAILS CROSS JOIN MANAGER;

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE,MID,MID,MNAME,LOCATION,SAL
1212,VICKY,DATA ANALYST,9786534201,27,45000,2020-04-01,1122,1122,KUMAR,CHENNAI,50000
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27,1123,1122,KUMAR,CHENNAI,50000
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30,1123,1122,KUMAR,CHENNAI,50000
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20,1124,1122,KUMAR,CHENNAI,50000
1832,SURYA,CLERK,6372456764,28,20000,2019-08-20,NULL,1122,KUMAR,CHENNAI,50000
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14,1123,1122,KUMAR,CHENNAI,50000
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24,1122,1122,KUMAR,CHENNAI,50000
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000,2016-06-20,1123,1122,KUMAR,CHENNAI,50000
3762,TAMIL,DATA SCIENTIET,8780321456,34,25000,2015-08-24,1124,1122,KUMAR,CHENNAI,50000
3832,SANJAY,CLERK,6372556764,22,12000,2019-06-11,NULL,1122,KUMAR,CHENNAI,50000
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20,1122,1122,KUMAR,CHENNAI,50000
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27,1124,1122,KUMAR,CHENNAI,50000
4832,SHANKAR,CLERK,6372456064,28,20000,2013-10-15,NULL,1122,KUMAR,CHENNAI,50000
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000,2014-11-08,1123,1122,KUMAR,CHENNAI,50000
1212,VICKY,DATA ANALYST,9786534201,27,45000,2020-04-01,1122,1123,BARATH,BANGALORE,60000
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27,1123,1123,BARATH,BANGALORE,60000
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30,1123,1123,BARATH,BANGALORE,60000
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20,1124,1123,BARATH,BANGALORE,60000
1832,SURYA,CLERK,6372456764,28,20000,2019-08-20,NULL,1123,BARATH,BANGALORE,60000
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14,1123,1123,BARATH,BANGALORE,60000
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24,1122,1123,BARATH,BANGALORE,60000
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000,2016-06-20,1123,1123,BARATH,BANGALORE,60000
3762,TAMIL,DATA SCIENTIET,8780321456,34,25000,2015-08-24,1124,1123,BARATH,BANGALORE,60000
3832,SANJAY,CLERK,6372556764,22,12000,2019-06-11,NULL,1123,BARATH,BANGALORE,60000
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20,1122,1123,BARATH,BANGALORE,60000
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27,1124,1123,BARATH,BANGALORE,60000
4832,SHANKAR,CLERK,6372456064,28,20000,2013-10-15,NULL,1123,BARATH,BANGALORE,60000
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000,2014-11-08,1123,1123,BARATH,BANGALORE,60000
1212,VICKY,DATA ANALYST,9786534201,27,45000,2020-04-01,1122,1124,ARIVU,MUMBAI,75000
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27,1123,1124,ARIVU,MUMBAI,75000
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30,1123,1124,ARIVU,MUMBAI,75000
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20,1124,1124,ARIVU,MUMBAI,75000
1832,SURYA,CLERK,6372456764,28,20000,2019-08-20,NULL,1124,ARIVU,MUMBAI,75000
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14,1123,1124,ARIVU,MUMBAI,75000
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24,1122,1124,ARIVU,MUMBAI,75000
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000,2016-06-20,1123,1124,ARIVU,MUMBAI,75000
3762,TAMIL,DATA SCIENTIET,8780321456,34,25000,2015-08-24,1124,1124,ARIVU,MUMBAI,75000
3832,SANJAY,CLERK,6372556764,22,12000,2019-06-11,NULL,1124,ARIVU,MUMBAI,75000
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20,1122,1124,ARIVU,MUMBAI,75000
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27,1124,1124,ARIVU,MUMBAI,75000
4832,SHANKAR,CLERK,6372456064,28,20000,2013-10-15,NULL,1124,ARIVU,MUMBAI,75000
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000,2014-11-08,1123,1124,ARIVU,MUMBAI,75000

INNER JOIN;

In [9]:
SELECT *
FROM EMPLOYE_DETAILS,MANAGER
WHERE EMPLOYE_DETAILS.MID=MANAGER.MID;

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE,MID,MID,MNAME,LOCATION,SAL
1212,VICKY,DATA ANALYST,9786534201,27,45000,2020-04-01,1122,1122,KUMAR,CHENNAI,50000
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27,1123,1123,BARATH,BANGALORE,60000
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30,1123,1123,BARATH,BANGALORE,60000
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20,1124,1124,ARIVU,MUMBAI,75000
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14,1123,1123,BARATH,BANGALORE,60000
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24,1122,1122,KUMAR,CHENNAI,50000
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000,2016-06-20,1123,1123,BARATH,BANGALORE,60000
3762,TAMIL,DATA SCIENTIET,8780321456,34,25000,2015-08-24,1124,1124,ARIVU,MUMBAI,75000
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20,1122,1122,KUMAR,CHENNAI,50000
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27,1124,1124,ARIVU,MUMBAI,75000
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000,2014-11-08,1123,1123,BARATH,BANGALORE,60000

OUTER JOIN;

In [8]:
SELECT *
FROM EMPLOYE_DETAILS LEFT JOIN MANAGER
ON EMPLOYE_DETAILS.MID=MANAGER.MID;

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE,MID,MID,MNAME,LOCATION,SAL
1212,VICKY,DATA ANALYST,9786534201,27,45000,2020-04-01,1122,1122,KUMAR,CHENNAI,50000
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27,1123,1123,BARATH,BANGALORE,60000
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30,1123,1123,BARATH,BANGALORE,60000
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20,1124,1124,ARIVU,MUMBAI,75000
1832,SURYA,CLERK,6372456764,28,20000,2019-08-20,NULL,NULL,NULL,NULL,NULL
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14,1123,1123,BARATH,BANGALORE,60000
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24,1122,1122,KUMAR,CHENNAI,50000
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000,2016-06-20,1123,1123,BARATH,BANGALORE,60000
3762,TAMIL,DATA SCIENTIET,8780321456,34,25000,2015-08-24,1124,1124,ARIVU,MUMBAI,75000
3832,SANJAY,CLERK,6372556764,22,12000,2019-06-11,NULL,NULL,NULL,NULL,NULL
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20,1122,1122,KUMAR,CHENNAI,50000
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27,1124,1124,ARIVU,MUMBAI,75000
4832,SHANKAR,CLERK,6372456064,28,20000,2013-10-15,NULL,NULL,NULL,NULL,NULL
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000,2014-11-08,1123,1123,BARATH,BANGALORE,60000

RIGHT OUTER JOIN;

In [7]:
SELECT *
FROM EMPLOYE_DETAILS RIGHT JOIN MANAGER
ON EMPLOYE_DETAILS.MID=MANAGER.MID;

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE,MID,MID,MNAME,LOCATION,SAL
1212,VICKY,DATA ANALYST,9786534201,27,45000,2020-04-01,1122,1122,KUMAR,CHENNAI,50000
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24,1122,1122,KUMAR,CHENNAI,50000
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20,1122,1122,KUMAR,CHENNAI,50000
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27,1123,1123,BARATH,BANGALORE,60000
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30,1123,1123,BARATH,BANGALORE,60000
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14,1123,1123,BARATH,BANGALORE,60000
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000,2016-06-20,1123,1123,BARATH,BANGALORE,60000
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000,2014-11-08,1123,1123,BARATH,BANGALORE,60000
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20,1124,1124,ARIVU,MUMBAI,75000
3762,TAMIL,DATA SCIENTIET,8780321456,34,25000,2015-08-24,1124,1124,ARIVU,MUMBAI,75000
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27,1124,1124,ARIVU,MUMBAI,75000

FULL OUTER JOIN;

In [6]:
SELECT *
FROM EMPLOYE_DETAILS FULL JOIN MANAGER
ON EMPLOYE_DETAILS.MID=MANAGER.MID;

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE,MID,MID,MNAME,LOCATION,SAL
1212,VICKY,DATA ANALYST,9786534201,27,45000,2020-04-01,1122,1122,KUMAR,CHENNAI,50000
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27,1123,1123,BARATH,BANGALORE,60000
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30,1123,1123,BARATH,BANGALORE,60000
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20,1124,1124,ARIVU,MUMBAI,75000
1832,SURYA,CLERK,6372456764,28,20000,2019-08-20,NULL,NULL,NULL,NULL,NULL
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14,1123,1123,BARATH,BANGALORE,60000
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24,1122,1122,KUMAR,CHENNAI,50000
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000,2016-06-20,1123,1123,BARATH,BANGALORE,60000
3762,TAMIL,DATA SCIENTIET,8780321456,34,25000,2015-08-24,1124,1124,ARIVU,MUMBAI,75000
3832,SANJAY,CLERK,6372556764,22,12000,2019-06-11,NULL,NULL,NULL,NULL,NULL
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20,1122,1122,KUMAR,CHENNAI,50000
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27,1124,1124,ARIVU,MUMBAI,75000
4832,SHANKAR,CLERK,6372456064,28,20000,2013-10-15,NULL,NULL,NULL,NULL,NULL
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000,2014-11-08,1123,1123,BARATH,BANGALORE,60000

12/07/2023

SELECT INTO=\>TO COPY ONE DATA INTO ANOTHER NEW TABLE;

In [8]:
SELECT *
INTO WEB_DEVELOPER
FROM EMPLOYE_DETAILS
WHERE JOB='WEB DEVELOPER';

In [9]:
SELECT *
FROM WEB_DEVELOPER;

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE,MID
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27,1123
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30,1123
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14,1123
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000,2016-06-20,1123
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000,2014-11-08,1123

In [51]:
USE EmployeDB;

In [54]:
CREATE TABLE EMPLOYE1
(
    EID NUMERIC(4) PRIMARY KEY,
    ENAME VARCHAR(15) NOT NULL,
    JOB VARCHAR(15) NOT NULL,
    PHONE_NO NUMERIC(10) UNIQUE,
    AGE NUMERIC(2) NOT NULL CHECK(AGE>0),
    SAL NUMERIC(5) CHECK(SAL>0),
    MID NUMERIC(4) 
);

In [56]:
INSERT INTO EMPLOYE1  VALUES(9992,'NAREN','QA',8876543210,25,35000,6645);
INSERT INTO   EMPLOYE1 VALUES (9932,'JAI','QA',7786534201,27,40000,6646);
INSERT INTO EMPLOYE1  VALUES(9994,'VENKAT','QA',6789321456,30,40000,6647);

: Msg 2627, Level 14, State 1, Line 1
Violation of PRIMARY KEY constraint 'PK__EMPLOYE1__C190170BBED36F6D'. Cannot insert duplicate key in object 'dbo.EMPLOYE1'. The duplicate key value is (9992).

: Msg 2627, Level 14, State 1, Line 2
Violation of PRIMARY KEY constraint 'PK__EMPLOYE1__C190170BBED36F6D'. Cannot insert duplicate key in object 'dbo.EMPLOYE1'. The duplicate key value is (9932).

: Msg 2627, Level 14, State 1, Line 3
Violation of PRIMARY KEY constraint 'PK__EMPLOYE1__C190170BBED36F6D'. Cannot insert duplicate key in object 'dbo.EMPLOYE1'. The duplicate key value is (9994).

In [58]:
SELECT *
FROM EMPLOYE1;

EID,ENAME,JOB,PHONE_NO,AGE,SAL,MID
9932,JAI,QA,7786534201,27,40000,6646
9992,NAREN,QA,8876543210,25,35000,6645
9994,VENKAT,QA,6789321456,30,40000,6647

INSERT INTO SELECT=\>COPY DATA FROM ONE TABLE AND INSERT INTO ANOTHER TABLE

In [63]:
INSERT INTO EMPLOYE_DETAILS(EID,ENAME,JOB,PHONE_NO,AGE,SAL)
SELECT EID,ENAME,JOB,PHONE_NO,AGE,SAL
FROM EMPLOYE1;

STORED PROCEDURE;

In [15]:
CREATE PROCEDURE SALARY_DETAILS
AS
SELECT ENAME,SAL 
FROM EMPLOYE_DETAILS
GO;

In [16]:
EXEC SALARY_DETAILS;

ENAME,SAL
VICKY,40000
VIJAY,25000
ARUN,35000
AJAY,45000
SURYA,20000
SANTHOSH,25000
JEEVA,30000
MUTHU,25000
TAMIL,25000
SANJAY,12000
PREM KUMAR,40000
CHANDRAN,45000
SHANKAR,20000
DEEPAK,25000

ALL;

EMPLOYE DETAILS WHO EARNED MORE THAN ALL CLERK;

In [2]:
SELECT *
FROM EMPLOYE_DETAILS
WHERE SAL > ALL(SELECT SAL
FROM EMPLOYE_DETAILS
WHERE JOB='CLERK');

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE,MID
1212,VICKY,DATA ANALYST,9786534201,27,45000,2020-04-01,1122
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27,1123
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30,1123
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20,1124
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14,1123
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24,1122
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000,2016-06-20,1123
3762,TAMIL,DATA SCIENTIET,8780321456,34,25000,2015-08-24,1124
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20,1122
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27,1124
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000,2014-11-08,1123

ANY;

In [3]:
SELECT *
FROM EMPLOYE_DETAILS
WHERE  SAL > ANY(SELECT SAL
FROM EMPLOYE_DETAILS
WHERE JOB='WEB DEVELOPER');

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE,MID
1212,VICKY,DATA ANALYST,9786534201,27,45000,2020-04-01,1122
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30,1123
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20,1124
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24,1122
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20,1122
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27,1124

CASE;

In [6]:
SELECT ENAME,SAL,
CASE WHEN SAL >30000 THEN 'SALARY IS GREATER THAN 30000'
WHEN SAL =30000 THEN 'SAL IS EQUAL TO 30000'
ELSE 'SAL IS LESS THAN 30000'
END AS SALARYTEXT
FROM EMPLOYE_DETAILS;

ENAME,SAL,SALARYTEXT
VICKY,45000,SALARY IS GREATER THAN 30000
VIJAY,25000,SAL IS LESS THAN 30000
ARUN,35000,SALARY IS GREATER THAN 30000
AJAY,45000,SALARY IS GREATER THAN 30000
SURYA,20000,SAL IS LESS THAN 30000
SANTHOSH,25000,SAL IS LESS THAN 30000
JEEVA,30000,SAL IS EQUAL TO 30000
MUTHU,25000,SAL IS LESS THAN 30000
TAMIL,25000,SAL IS LESS THAN 30000
SANJAY,12000,SAL IS LESS THAN 30000
PREM KUMAR,40000,SALARY IS GREATER THAN 30000
CHANDRAN,45000,SALARY IS GREATER THAN 30000
SHANKAR,20000,SAL IS LESS THAN 30000
DEEPAK,25000,SAL IS LESS THAN 30000

COMMON TABLE EXPRESSION;

In [11]:
WITH CTE1 AS (SELECT ENAME,JOB 
FROM EMPLOYE_DETAILS)
SELECT *
FROM CTE1;

ENAME,JOB
VICKY,DATA ANALYST
VIJAY,WEB DEVELOPER
ARUN,WEB DEVELOPER
AJAY,DATA SCIENTIET
SURYA,CLERK
SANTHOSH,WEB DEVELOPER
JEEVA,DATA ANALYST
MUTHU,WEB DEVELOPER
TAMIL,DATA SCIENTIET
SANJAY,CLERK
PREM KUMAR,DATA ANALYST
CHANDRAN,DATA SCIENTIET
SHANKAR,CLERK
DEEPAK,WEB DEVELOPER

In [18]:
WITH AVG_SALARY AS (SELECT JOB,MAX(SAL) AS AVERAGE_SALARY
FROM EMPLOYE_DETAILS
GROUP BY JOB )
SELECT *
FROM AVG_SALARY;

JOB,AVERAGE_SALARY
CLERK,20000
DATA ANALYST,45000
DATA SCIENTIET,45000
WEB DEVELOPER,35000

WINDOW FUNCTION;

In [19]:
SELECT *,MAX(SAL) OVER() AS MAX_SALARY
FROM EMPLOYE_DETAILS;

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE,MID,MAX_SALARY
1212,VICKY,DATA ANALYST,9786534201,27,45000,2020-04-01,1122,45000
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27,1123,45000
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30,1123,45000
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20,1124,45000
1832,SURYA,CLERK,6372456764,28,20000,2019-08-20,NULL,45000
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14,1123,45000
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24,1122,45000
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000,2016-06-20,1123,45000
3762,TAMIL,DATA SCIENTIET,8780321456,34,25000,2015-08-24,1124,45000
3832,SANJAY,CLERK,6372556764,22,12000,2019-06-11,NULL,45000
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20,1122,45000
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27,1124,45000
4832,SHANKAR,CLERK,6372456064,28,20000,2013-10-15,NULL,45000
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000,2014-11-08,1123,45000

In [31]:
SELECT *
FROM EMPLOYE_DETAILS;

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE,MID
1212,VICKY,DATA ANALYST,9786534201,27,45000,2020-04-01,1122
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27,1123
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30,1123
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20,1124
1832,SURYA,CLERK,6372456764,28,20000,2019-08-20,NULL
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14,1123
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24,1122
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000,2016-06-20,1123
3762,TAMIL,DATA SCIENTIET,8780321456,34,25000,2015-08-24,1124
3832,SANJAY,CLERK,6372556764,22,12000,2019-06-11,NULL
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20,1122
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27,1124
4832,SHANKAR,CLERK,6372456064,28,20000,2013-10-15,NULL
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000,2014-11-08,1123

In [32]:
SELECT *
FROM MANAGER;

MID,MNAME,LOCATION,SAL
1122,KUMAR,CHENNAI,50000
1123,BARATH,BANGALORE,60000
1124,ARIVU,MUMBAI,75000

In [20]:
SELECT *,MAX(SAL) OVER(PARTITION BY JOB) AS MAX_SALARY
FROM EMPLOYE_DETAILS;

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE,MID,MAX_SALARY
1832,SURYA,CLERK,6372456764,28,20000,2019-08-20,NULL,20000
3832,SANJAY,CLERK,6372556764,22,12000,2019-06-11,NULL,20000
4832,SHANKAR,CLERK,6372456064,28,20000,2013-10-15,NULL,20000
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20,1122,45000
1212,VICKY,DATA ANALYST,9786534201,27,45000,2020-04-01,1122,45000
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24,1122,45000
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20,1124,45000
3762,TAMIL,DATA SCIENTIET,8780321456,34,25000,2015-08-24,1124,45000
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27,1124,45000
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000,2014-11-08,1123,35000
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000,2016-06-20,1123,35000
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27,1123,35000
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30,1123,35000
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14,1123,35000

ROW NUMBER( );

In [26]:
SELECT *, row_number()  OVER(PARTITION BY JOB ORDER BY EID) AS ROW_NUMBER
FROM EMPLOYE_DETAILS;

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE,MID,ROW_NUMBER
1832,SURYA,CLERK,6372456764,28,20000,2019-08-20,NULL,1
3832,SANJAY,CLERK,6372556764,22,12000,2019-06-11,NULL,2
4832,SHANKAR,CLERK,6372456064,28,20000,2013-10-15,NULL,3
1212,VICKY,DATA ANALYST,9786534201,27,45000,2020-04-01,1122,1
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24,1122,2
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20,1122,3
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20,1124,1
3762,TAMIL,DATA SCIENTIET,8780321456,34,25000,2015-08-24,1124,2
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27,1124,3
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27,1123,1
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30,1123,2
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14,1123,3
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000,2016-06-20,1123,4
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000,2014-11-08,1123,5

RANK( );

In [5]:
SELECT *,RANK() OVER(PARTITION BY JOB ORDER BY SAL DESC) AS RANK
FROM EMPLOYE_DETAILS;

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE,MID,RANK
1832,SURYA,CLERK,6372456764,28,20000,2019-08-20,NULL,1
4832,SHANKAR,CLERK,6372456064,28,20000,2013-10-15,NULL,1
3832,SANJAY,CLERK,6372556764,22,12000,2019-06-11,NULL,3
1212,VICKY,DATA ANALYST,9786534201,27,45000,2020-04-01,1122,1
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20,1122,2
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24,1122,3
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20,1124,1
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27,1124,1
3762,TAMIL,DATA SCIENTIET,8780321456,34,25000,2015-08-24,1124,3
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30,1123,1
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27,1123,2
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000,2016-06-20,1123,2
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14,1123,2
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000,2014-11-08,1123,2

LAG( );

In [29]:
SELECT *,LAG(SAL) OVER(PARTITION BY JOB ORDER BY EID) AS PREV_SAL
FROM EMPLOYE_DETAILS;

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE,MID,PREV_SAL
1832,SURYA,CLERK,6372456764,28,20000,2019-08-20,NULL,NULL
3832,SANJAY,CLERK,6372556764,22,12000,2019-06-11,NULL,20000
4832,SHANKAR,CLERK,6372456064,28,20000,2013-10-15,NULL,12000
1212,VICKY,DATA ANALYST,9786534201,27,45000,2020-04-01,1122,NULL
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24,1122,45000
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20,1122,30000
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20,1124,NULL
3762,TAMIL,DATA SCIENTIET,8780321456,34,25000,2015-08-24,1124,45000
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27,1124,25000
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27,1123,NULL
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30,1123,25000
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14,1123,35000
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000,2016-06-20,1123,25000
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000,2014-11-08,1123,25000

LEAD( );

In [30]:
SELECT *,LAG(SAL) OVER(PARTITION BY JOB ORDER BY EID) AS PREV_SAL,
LEAD(SAL) OVER(PARTITION BY JOB ORDER BY EID) AS NEXT_SAL
FROM EMPLOYE_DETAILS;

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE,MID,PREV_SAL,NEXT_SAL
1832,SURYA,CLERK,6372456764,28,20000,2019-08-20,NULL,NULL,12000
3832,SANJAY,CLERK,6372556764,22,12000,2019-06-11,NULL,20000,20000
4832,SHANKAR,CLERK,6372456064,28,20000,2013-10-15,NULL,12000,NULL
1212,VICKY,DATA ANALYST,9786534201,27,45000,2020-04-01,1122,NULL,30000
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24,1122,45000,40000
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20,1122,30000,NULL
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20,1124,NULL,25000
3762,TAMIL,DATA SCIENTIET,8780321456,34,25000,2015-08-24,1124,45000,45000
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27,1124,25000,NULL
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27,1123,NULL,35000
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30,1123,25000,25000
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14,1123,35000,25000
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000,2016-06-20,1123,25000,25000
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000,2014-11-08,1123,25000,NULL

14/07/2023
DENSE RANK;

In [3]:
SELECT *,RANK() OVER(PARTITION BY JOB ORDER BY SAL) AS RANK,
DENSE_RANK() OVER(PARTITION BY JOB ORDER BY SAL) AS DENSE_RANK
FROM EMPLOYE_DETAILS;

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE,MID,RANK,DENSE_RANK
3832,SANJAY,CLERK,6372556764,22,12000,2019-06-11,NULL,1,1
4832,SHANKAR,CLERK,6372456064,28,20000,2013-10-15,NULL,2,2
1832,SURYA,CLERK,6372456764,28,20000,2019-08-20,NULL,2,2
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24,1122,1,1
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20,1122,2,2
1212,VICKY,DATA ANALYST,9786534201,27,45000,2020-04-01,1122,3,3
3762,TAMIL,DATA SCIENTIET,8780321456,34,25000,2015-08-24,1124,1,1
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20,1124,2,2
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27,1124,2,2
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000,2014-11-08,1123,1,1
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000,2016-06-20,1123,1,1
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27,1123,1,1
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14,1123,1,1
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30,1123,5,2

FIRST VALUE;

In [10]:
SELECT *,FIRST_VALUE(ENAME) OVER(PARTITION BY JOB ORDER BY SAL DESC ) AS HIGHEST_PAID_EMPLOYE
FROM EMPLOYE_DETAILS;

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE,MID,HIGHEST_PAID_EMPLOYE
1832,SURYA,CLERK,6372456764,28,20000,2019-08-20,NULL,SURYA
4832,SHANKAR,CLERK,6372456064,28,20000,2013-10-15,NULL,SURYA
3832,SANJAY,CLERK,6372556764,22,12000,2019-06-11,NULL,SURYA
1212,VICKY,DATA ANALYST,9786534201,27,45000,2020-04-01,1122,VICKY
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20,1122,VICKY
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24,1122,VICKY
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20,1124,AJAY
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27,1124,AJAY
3762,TAMIL,DATA SCIENTIET,8780321456,34,25000,2015-08-24,1124,AJAY
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30,1123,ARUN
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27,1123,ARUN
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000,2016-06-20,1123,ARUN
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14,1123,ARUN
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000,2014-11-08,1123,ARUN

LAST VALUE;

In [11]:
SELECT *,
FIRST_VALUE(ENAME) OVER(PARTITION BY JOB ORDER BY SAL DESC) AS HIGHEST_PAID_EMPLOYE,
LAST_VALUE(ENAME) OVER(PARTITION BY JOB ORDER BY SAL DESC) AS LEAST_PAID_EMPLOYE
FROM EMPLOYE_DETAILS;

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE,MID,HIGHEST_PAID_EMPLOYE,LEAST_PAID_EMPLOYE
1832,SURYA,CLERK,6372456764,28,20000,2019-08-20,NULL,SURYA,SHANKAR
4832,SHANKAR,CLERK,6372456064,28,20000,2013-10-15,NULL,SURYA,SHANKAR
3832,SANJAY,CLERK,6372556764,22,12000,2019-06-11,NULL,SURYA,SANJAY
1212,VICKY,DATA ANALYST,9786534201,27,45000,2020-04-01,1122,VICKY,VICKY
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20,1122,VICKY,PREM KUMAR
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24,1122,VICKY,JEEVA
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20,1124,AJAY,CHANDRAN
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27,1124,AJAY,CHANDRAN
3762,TAMIL,DATA SCIENTIET,8780321456,34,25000,2015-08-24,1124,AJAY,TAMIL
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30,1123,ARUN,ARUN
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27,1123,ARUN,DEEPAK
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000,2016-06-20,1123,ARUN,DEEPAK
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14,1123,ARUN,DEEPAK
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000,2014-11-08,1123,ARUN,DEEPAK

Nth VALUE;

In [8]:
SELECT 
-- FIRST_VALUE(ENAME) OVER(PARTITION BY JOB ORDER BY SAL DESC) AS HIGHEST_PAID_EMPLOYE,
-- LAST_VALUE(ENAME) OVER(PARTITION BY JOB ORDER BY SAL DESC) AS LEAST_PAID_EMPLOYE,
NTH_VALUE(ENAME,2) OVER( ORDER BY SAL DESC) AS 2ND_MOST_PAID_EMPLOYE
FROM EMPLOYE_DETAILS;

: Msg 195, Level 15, State 10, Line 4
'NTH_VALUE' is not a recognized built-in function name.

PERCENT\_RANK;

In [14]:
SELECT *,PERCENT_RANK() OVER(ORDER BY SAL) AS PERCENTAGE_RANK
FROM EMPLOYE_DETAILS;

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE,MID,PERCENTAGE_RANK
3832,SANJAY,CLERK,6372556764,22,12000,2019-06-11,NULL,0
1832,SURYA,CLERK,6372456764,28,20000,2019-08-20,NULL,0.07692307692307693
4832,SHANKAR,CLERK,6372456064,28,20000,2013-10-15,NULL,0.07692307692307693
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000,2014-11-08,1123,0.23076923076923078
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14,1123,0.23076923076923078
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27,1123,0.23076923076923078
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000,2016-06-20,1123,0.23076923076923078
3762,TAMIL,DATA SCIENTIET,8780321456,34,25000,2015-08-24,1124,0.23076923076923078
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24,1122,0.6153846153846154
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30,1123,0.6923076923076923
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20,1122,0.7692307692307693
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27,1124,0.8461538461538461
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20,1124,0.8461538461538461
1212,VICKY,DATA ANALYST,9786534201,27,45000,2020-04-01,1122,0.8461538461538461

TEMPORARY TABLE;

Temporary tables are created in a database to store data temporarily. They can perform operations that are similar to operations of permanent database tables like Create, Update, Delete, Insert and also other operations like Join. But these tables will be automatically deleted once the current client session is terminated. In addition to that, they can also be explicitly deleted if the users decide to drop them manually.

TYPES OF TEMPORARY TABLE;

      \*LOCAL TEMPORARY TABLE

      \*GLOBAL TEMPORARY TABLE

LOCAL TEMPORAY TABLE;

 <span style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: Nunito, sans-serif; font-size: 16px; text-align: justify;">A Local Temporary Table is accessible only in the session that has created it. It is automatically deleted when the connection that has created it gets closed. To create Local Temporary Table, a single # is used as the prefix of a table name</span>

<span style="font-size: 16px; background-color: rgb(255, 255, 255);">GLOBAL TEMPORARY TABLE;</span>

  <span style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: Nunito, sans-serif; font-size: 16px;">Global Temporary Tables are visible to all connections and Dropped when the last connection referencing the table is closed. Global Table Name must have an Unique Table Name.</span>

  <span style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: Nunito, sans-serif; font-size: 16px;">To create a Global Temporary Table, add the ## symbol before the table name.</span>

STORED PROCEDURE WITH PARAMETER;

In [2]:
CREATE PROCEDURE EMP_DETAILS @JOB VARCHAR(15)
AS 
SELECT *
FROM EMPLOYE_DETAILS
WHERE JOB=@JOB
;

In [4]:
EXEC EMP_DETAILS @JOB='CLERK';

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE,MID
1832,SURYA,CLERK,6372456764,28,20000,2019-08-20,NULL
3832,SANJAY,CLERK,6372556764,22,12000,2019-06-11,NULL
4832,SHANKAR,CLERK,6372456064,28,20000,2013-10-15,NULL

In [14]:
CREATE OR ALTER  PROCEDURE EMPLOY @ENAME VARCHAR(15),@SAL NUMERIC(5)
AS
UPDATE EMPLOYE_DETAILS
SET SAL=@SAL
WHERE ENAME=@ENAME;

In [15]:
EXEC EMPLOY @ENAME='SURYA', @SAL=25000;

In [16]:
SELECT *
FROM EMPLOYE_DETAILS;

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE,MID
1212,VICKY,DATA ANALYST,9786534201,27,45000,2020-04-01,1122
1245,VIJAY,WEB DEVELOPER,7367894567,27,25000,2018-01-27,1123
1721,ARUN,WEB DEVELOPER,9876543210,25,35000,2021-03-30,1123
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20,1124
1832,SURYA,CLERK,6372456764,28,25000,2019-08-20,NULL
2121,SANTHOSH,WEB DEVELOPER,9823543210,29,25000,2022-02-14,1123
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24,1122
3245,MUTHU,WEB DEVELOPER,7361894567,36,25000,2016-06-20,1123
3762,TAMIL,DATA SCIENTIET,8780321456,34,25000,2015-08-24,1124
3832,SANJAY,CLERK,6372556764,22,12000,2019-06-11,NULL
4212,PREM KUMAR,DATA ANALYST,9086534201,27,40000,2023-04-20,1122
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27,1124
4832,SHANKAR,CLERK,6372456064,28,20000,2013-10-15,NULL
5245,DEEPAK,WEB DEVELOPER,7367894167,28,25000,2014-11-08,1123

INDEX;

In [2]:
CREATE INDEX INDEX_1
ON  EMPLOYE_DETAILS(EID,ENAME);

SEQUENCE;

In [7]:
CREATE SEQUENCE SQ_1
START WITH 1
INCREMENT BY 1
MINVALUE 1
MAXVALUE 10
CYCLE;

In [9]:
CREATE TABLE STUDENT_DETAILS 
(
 SID  NUMERIC(1) PRIMARY KEY,
 NAME VARCHAR(20)
);

In [14]:
INSERT INTO STUDENT_DETAILS VALUES(SQ_1.NEXTVAL,'AJAY');
INSERT INTO STUDENT_DETAILS VALUES (SQ_1.NEXTVAL,'VIGNESH');
INSERT INTO STUDENT_DETAILS VALUES(SQ_1.NEXTVAL,'VASANTH');
INSERT INTO STUDENT_DETAILS VALUES(SQ_1.NEXTVAL,'TAMIL');
INSERT INTO STUDENT_DETAILS VALUES (SQ_1.NEXTVAL,'CHANDRU');
INSERT INTO STUDENT_DETAILS VALUES(SQ_1.NEXTVAL,'ARIVU');

: Msg 4104, Level 16, State 1, Line 1
The multi-part identifier "SQ_1.NEXTVAL" could not be bound.

CO RELATED SUB QUERY;

TO FIND NTH SALARY;

SELECT \*

FROM \[TN\] \[ALIAS NAME 1\]

WHERE (N-1)=(SELECT COUNT(SAL)

FROM \[TN\] \[ALIAS NAME 2\]

WHERE CONDITION;

TO FIND FIRST MAXIMUM SALARY;

In [6]:
SELECT *
FROM EMPLOYE_DETAILS E1
WHERE 0=(SELECT COUNT(SAL)
FROM EMPLOYE_DETAILS E2
WHERE E1.SAL<E2.SAL);

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE,MID
1212,VICKY,DATA ANALYST,9786534201,27,45000,2020-04-01,1122
1762,AJAY,DATA SCIENTIET,8789321456,30,45000,2019-08-20,1124
4762,CHANDRAN,DATA SCIENTIET,8789321406,30,45000,2017-11-27,1124

4TH MAXIMUM SALARY;

In [10]:
SELECT *
FROM EMPLOYE_DETAILS E1
WHERE 3=(SELECT COUNT(DISTINCT (SAL))
FROM EMPLOYE_DETAILS E2
WHERE E1.SAL<E2.SAL)

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE,MID
2212,JEEVA,DATA ANALYST,9781534201,25,30000,2015-08-24,1122

2ND MINIMUM SALARY;

In [15]:
SELECT *
FROM EMPLOYE_DETAILS E1
WHERE 1=(SELECT COUNT(DISTINCT (SAL))
FROM EMPLOYE_DETAILS E2
WHERE E1.SAL>E2.SAL)

EID,ENAME,JOB,PHONE_NO,AGE,SAL,HIREDATE,MID
4832,SHANKAR,CLERK,6372456064,28,20000,2013-10-15,NULL

08/08/2023

SQUARE ROOT;

In [4]:
SELECT SQRT(SAL)
FROM EMPLOYE_DETAILS;

(No column name)
212.13203435596427
158.11388300841898
187.08286933869707
212.13203435596427
158.11388300841898
158.11388300841898
173.20508075688772
158.11388300841898
158.11388300841898
109.54451150103323
200
212.13203435596427
141.4213562373095
158.11388300841898

SQUARE

In [5]:
SELECT SQUARE(SAL)
FROM EMPLOYE_DETAILS;

(No column name)
2025000000
625000000
1225000000
2025000000
625000000
625000000
900000000
625000000
625000000
144000000
1600000000
2025000000
400000000
625000000

PI;

In [4]:
SELECT PI()*2
-- FROM EMPLOYE_DETAILS;

(No column name)
6.283185307179586

ROUND;

In [6]:
SELECT ROUND(123.4567,0);

(No column name)
123.0000

**CEILING() and FLOOR();**

In [7]:
SELECT CEILING(45.56);
SELECT FLOOR(47.56);

(No column name)
46

(No column name)
47

In [8]:
SELECT COS(2);

(No column name)
-0.4161468365471424

09/08/2023

NUMERICAL FUNCTIONS

In [4]:
SELECT ABS(-234.4645) AS ABSOLTE_VALUE;

ABSOLTE_VALUE
234.4645

In [8]:
SELECT ACOS(60) AS COSINE_NO;

: Msg 3623, Level 16, State 1, Line 1
An invalid floating point operation occurred.

In [11]:
SELECT ASIN(45) AS SINE_NO;

: Msg 3623, Level 16, State 1, Line 1
An invalid floating point operation occurred.

In [13]:
SELECT ATAN(56) AS TAN_NO;

TAN_NO
1.5529410816553442

In [14]:
SELECT ATN2(24,56) AS TANOF_TWO;

TANOF_TWO
0.40489178628508343

In [18]:
SELECT AVG(24.56*10) AS AVG;

AVG
245.600000

In [19]:
SELECT COS(60) AS COS_VAL;

COS_VAL
-0.9524129804151563

In [20]:
SELECT COT(45) AS COT_VAL;

COT_VAL
0.6173696237835551

In [22]:
SELECT DEGREES(3) AS DEGREE;

DEGREE
171

In [23]:
SELECT LOG(10) AS LOG_VAL;

LOG_VAL
2.302585092994046

In [24]:
SELECT LOG10(10);

(No column name)
1

In [27]:
SELECT POWER(2,10) AS POWER;

POWER
1024

In [29]:
SELECT RADIANS(90) AS RADIAN_VAL;

RADIAN_VAL
1

In [30]:
SELECT TAN(0) AS TAN_VAL;

TAN_VAL
0

DATE FUNCTIONS;

In [33]:
SELECT CURRENT_TIMESTAMP AS CURRENT_TIME_STAMP;

CURRENT_TIME_STAMP
2023-08-09 16:31:49.380

In [61]:
SELECT DATEADD(year, 1, '2023/08/25') AS DateAdd;

DateAdd
2024-08-25 00:00:00.000

In [63]:
SELECT DATEDIFF(DAY,'2023-07-01','2023-08-08') AS DATE_DIFF;

DATE_DIFF
38

In [64]:
SELECT DATEFROMPARTS(2023, 10, 31) AS DATE_FORMPARTS;

DATE_FORMPARTS
2023-10-31

In [66]:
SELECT DATENAME(DAY, '2023/04/25') AS DATE_NAME;

DATE_NAME
25

In [68]:
SELECT DAY('2023-09-07') AS DAY;

DAY
7

ADVANCED FUNCTIONS;

In [51]:
SELECT CAST(23.44 AS int);

(No column name)
23

In [54]:
SELECT CONVERT(int,25.65) AS CONVERTT;

CONVERTT
25

In [55]:
SELECT CURRENT_USER;

(No column name)
dbo

In [56]:
SELECT SESSION_USER;

(No column name)
dbo

In [57]:
SELECT SYSTEM_USER;

(No column name)
ARIVARASAN\aaras

In [59]:
SELECT USER_NAME();

(No column name)
dbo

USER DEFINED FUNCTION;

   \* INLINE TABLE VALUED FUNCTION

   \*SCALAR FUNCTIONS

   \*MULTI-STATEMENT TABLE\_VALUED FUNCTION

INLINE TABLE VALUED FUNCTION;

In [69]:
CREATE FUNCTION FN_EMPLOYEESBYJOB (@JOB VARCHAR(15))
RETURNS TABLE
AS
RETURN(SELECT EID,ENAME,SAL 
       FROM EMPLOYE_DETAILS
       WHERE JOB=@JOB);

In [70]:
SELECT *
FROM FN_EMPLOYEESBYJOB ('WEB DEVELOPER');

EID,ENAME,SAL
1245,VIJAY,25000
1721,ARUN,35000
2121,SANTHOSH,25000
3245,MUTHU,25000
5245,DEEPAK,25000

MULTI-STATEMENT TABLE-VALUED FUNCTION;

In [72]:
CREATE FUNCTION FN_MSTV()
RETURNS @TABLE TABLE(EID NUMERIC(4),ENAME VARCHAR(15),SAL NUMERIC(10))
AS
BEGIN
INSERT INTO @TABLE
SELECT EID,ENAME,SAL 
FROM EMPLOYE_DETAILS
RETURN
END;

In [74]:
SELECT *
FROM FN_MSTV();

EID,ENAME,SAL
1212,VICKY,45000
1245,VIJAY,25000
1721,ARUN,35000
1762,AJAY,45000
1832,SURYA,25000
2121,SANTHOSH,25000
2212,JEEVA,30000
3245,MUTHU,25000
3762,TAMIL,25000
3832,SANJAY,12000
4212,PREM KUMAR,40000
4762,CHANDRAN,45000
4832,SHANKAR,20000
5245,DEEPAK,25000